.bottomNav {
    width: 100%;
    height: var(--nav-height);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    );
    border-top: 1px solid var(--grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bnTab {
    margin-bottom: -1rem;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.75em;
    color: white;
}

.bnTab.active,
.bnTab.active svg {
    color: #69e267;
}

.bnTabName {
    font-size: 10px;
    margin-top: -1em;
}
