.bottomNav {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--grey-color);
    z-index: 3;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bnTab {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bnTabName {
    font-size: 10px;
    margin-top: -1em;
}
