.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.moodContainer {
    background-color: #222222;
    display: grid;
    grid-template-areas:
        'heart-rate    interval'
        'mood   local-artist ';
    grid-template-rows: 6.25rem 6.25rem;
    gap: 10px;
    padding: 0.5rem;
}

.modeBtn {
    color: #ffffff;
    text-transform: none;
}

.heartRateBtn {
    grid-area: heart-rate;
    background-color: #b11414;
}

.intervalBtn {
    grid-area: interval;
    background-color: #f58420;
}

.moodBtn {
    grid-area: mood;
    background-color: #53cfb1;
}

.localArtistBtn {
    grid-area: local-artist;
    background-color: #008fa4;
}
/* .generateBtn {
    grid-area: generate;
    color: #242b2e;
    background-color: #69e267;
    width: 100%;
} */

.logoutBtn {
    color: #ffffff;
    background-color: #b11414;
    width: 100%;
    text-transform: none;
}
