.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.moodContainer {
    margin-top: 0.5rem;
    background-color: #222222;
    display: grid;
    grid-template-areas:
        'heart-rate    interval'
        'mood   local-artist ';
    grid-template-rows: 6.25rem 6.25rem;
    gap: 10px;
    padding: 0.5rem;
}

.apkContainer {
    text-align: center;
    color: #ffffff;
    margin-top: 1rem;
    background-color: #222222;
    gap: 10px;
    padding: 0.5rem;
    font-size: 90%;
}

.apkButton {
    background-color: #69e267;
    color: #222222;
    margin-top: 0.5rem;
    height: 5rem;
    width: 100%;
}

.apkButton:hover {
    background-color: #4aa048;
}

.androidIcon {
    color: #222222;
    /* transform: scale(1.8); */
    margin-top: 1rem;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.modeBtn {
    color: #ffffff;
    text-transform: none;
    display: block;
}

.heartRateBtn {
    grid-area: heart-rate;
    background-color: #b11414;
}

.intervalBtn {
    grid-area: interval;
    background-color: #f58420;
}

.moodBtn {
    grid-area: mood;
    background-color: #53cfb1;
}

.localArtistBtn {
    grid-area: local-artist;
    background-color: #008fa4;
}

.logoutBtn {
    margin-top: auto;
    color: #b11414;
    width: 100%;
    text-transform: none;
    border-radius: 3px;
}
