.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.moodContainer {
    background-color: #222222;
    display: grid;
    grid-template-areas:
        'heart-rate    interval'
        'mood   local-artist '
        'generate   generate';
    grid-template-rows: 3fr 3fr 1fr;
    gap: 10px;
}

.modeBtn {
    color: #ffffff;
}

.heartRateBtn {
    grid-area: heart-rate;
    background-color: #b11414;
}

.intervalBtn {
    grid-area: interval;
    background-color: #f58420;
}

.moodBtn {
    grid-area: mood;
    background-color: #53cfb1;
}

.localArtistBtn {
    grid-area: local-artist;
    background-color: #008fa4;
}
.generateBtn {
    grid-area: generate;
    color: #242b2e;
    background-color: #69e267;
    width: 100%;
}

.logoutBtn {
    /* TODO: make this responsive, button should stay at bottom */
    margin-top: 40vh;
    color: #ffffff;
    background-color: #b11414;
    width: 100%;
}
