.generateButton {
    background-color: #69e267;
    color: #242b2e;
    width: 100%;
    display: flex;
    justify-content: center;
}

.muiSliderLabel {
    font-size: 0.75em;
    text-align: center;
    width: 18ch;
}
