.player {
    background-color: #242b2e;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    --text-color: white;
    --dark-primary-color: #87979a;
    --slider-color: #69e267;
}

.player a {
    text-decoration: none;
    display: block;
}

.albumImgContainer {
    aspect-ratio: 1/1;
}

.albumImgContainer img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.songName {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.5em;
}

.artistName {
    margin-top: 0.5rem;
    color: var(--dark-primary-color);
}

.songName,
.artistName {
    overflow-x: scroll;
    white-space: nowrap;
    /* Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, etc. */
.songName::-webkit-scrollbar,
.artistName::-webkit-scrollbar {
    display: none;
}

.slider,
.slider:disabled {
    margin-top: 1rem;
    background-color: green;
    width: 100%;
    background: green;
}

.songProgress .timestamps {
    display: flex;
    justify-content: space-between;
    color: var(--dark-primary-color);
    font-size: 0.8em;
}

.controlButtons {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.controlButtons button {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: white;
}

.controlButtons .likeButton,
.controlButtons .dislikeButton {
    scale: 0.75;
}

.control .controlButtons button:disabled {
    color: #555;
    cursor: default;
}
