.generateButton {
    background-color: #69e267;
    color: #242b2e;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
