.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.headerContainer {
    position: relative;
    display: flex;
    height: var(--nav-height);
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.backButton {
    --arrow-size: calc(var(--nav-height) / 4);
    box-sizing: content-box;
    width: 0;
    height: 0;
    position: absolute;
    left: 10px;
    top: calc(var(--nav-height) / 4);
    background-color: transparent;
    border-top: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent;
    border-right: calc(var(--arrow-size) * 1.5) solid white;
}

.settingsButton {
    box-sizing: content-box;
    position: absolute;
    right: 10px;
}

.playerContainer {
    flex-grow: 0;
    height: var(--music-player-height);
    overflow: hidden;
}

.navContainer {
    flex-grow: 0;
    height: var(--nav-height);
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.mainContainer {
    flex-grow: 1;
    overflow: scroll;
}
