.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: visible;
}

.headerContainer {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 1rem 1rem 0rem 1rem;
    box-sizing: content-box;
}

.headerContainer svg {
    display: block;
    scale: 1.2;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.2em;
}

.mainContainer {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: scroll;
    position: relative;
    padding-inline: 1rem;
    margin-block: 1rem;
}

.playerContainer {
    flex-grow: 0;
    flex-shrink: 0;
    height: var(--music-player-height);
    overflow: hidden;
}

.navContainer {
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
