.explanation {
    margin-top: 1rem;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #d9d2df;
    color: black;
}

.explanationTitle {
    font-size: 1.2em;
    font-weight: bold;
}

.muiSliderLabel {
    font-size: 0.75em;
    display: inline-block;
    text-align: center;
    width: 18ch;
}
