.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 380px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.formInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: left;
}

.switch {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: left;
}

.title {
    text-align: center;
    color: #69e267;
}

.text {
    text-align: center;
}

.img {
    width: 100%;
    height: auto;
    max-width: 380px;
    margin-top: 2rem;
}

.note {
    margin: 0 1rem 3rem 1rem;
    font-size: 4vw;
}

.divider {
    width: 100%;
    border-color: #ffffff;
}

.sliderContainer {
    padding-block: 0.05rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sliderContainer input {
    box-sizing: content-box;
    width: 65%;
    margin-inline: 5px;
}

.sliderLabel {
    font-size: 0.75em;
    display: inline-block;
    text-align: center;
    width: 12ch;
}

.muiSliderLabel {
    font-size: 0.75em;
    display: inline-block;
    text-align: center;
    width: 16ch;
}

.flexWrapper {
    display: flex;
    flex-wrap: wrap;
}

.subsetting {
    font-size: 0.9em;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: left;
    align-items: left;
}
