.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.searchBarContainer input {
    width: 100%;
    font-size: 1.25rem;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    border-radius: 10px;
    border: 2px solid black;
}

.resultsHeader {
    margin-bottom: 1rem;
}

.searchResults {
    text-decoration: none;
}

.searchResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    height: 5rem;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    border-inline: 2px solid black;
}

.searchResult:nth-of-type(2n) {
    background-color: #ddd;
}

.searchResult:first-child {
    border-top: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.searchResult:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profilePic {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 1rem;
}
