.header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  height: var(--nav-height);
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.backButton {
  --arrow-size: calc(var(--nav-height) / 4);
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  left: 10px;
  top: calc(var(--nav-height) / 4);
  background-color: transparent;
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent;
  border-right: calc(var(--arrow-size) * 1.5) solid white;
}

.main {
  margin-top: var(--nav-height);
}

.navWrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--nav-height);
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navWrapper div {
  height: 75%;
  aspect-ratio: 1 / 1;
  background-color: white;
}
