.main {
    height: 100%;
}

.divider {
    width: 100%;
    border-color: #69e267;
    margin-top: 1rem;
}

.saveButton {
    color: #ffffff;
}

.saveButton:hover {
    color: #69e267;
    background-color: transparent;
}

.tooltip {
    margin-left: 0.25rem;
    height: 1rem;
    width: 1rem;
}

.sticky {
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #222222;
    padding: 0.5rem;
    color: #69e267;
}

.settingsSection > * {
    padding: 0.5rem;
    background-color: #222222;
}

.sliderContainer {
    padding-block: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sliderContainer input {
    box-sizing: content-box;
    width: 65%;
    margin-inline: 5px;
}

.sliderLabel {
    font-size: 0.75em;
    display: inline-block;
    text-align: center;
    width: 12ch;
}

.flexWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flexWrapper > *:nth-child(2) {
    margin-left: auto;
}

.flexWrapper select,
.flexWrapper input[type='number'],
.flexWrapper button {
    margin-left: auto;
    text-align: center;
}

.select {
    width: 100%;
    margin-top: 1rem;
}

.selectInput {
    color: #ffffff;
    background-color: #615f64;
    border-radius: 3px;
    padding-left: 0.5rem;
}

.zipCode {
    margin-left: auto;
    width: 7rem;
}

.zipCodeInput {
    color: white;
    background-color: #615f64;
    padding-top: 0.5rem;
}

.flexWrapper .logoutButton {
    margin-right: auto;
    font-size: 1rem;
    background: #69e267;
    color: #242b2e;
    font-weight: bold;
}

.flexWrapperVert {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subsetting {
    font-size: 0.9em;
    padding: 0.5rem;
}

.sublistContainer {
    padding: 0.25rem;
    font-size: 0.75em;
}

.sublistULContainer {
    width: 100%;
    margin-top: 0.5rem;
    margin-inline: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.sublistChip {
    background-color: #69e267;
    color: #242b2e;
}

.sublistDelete {
    font-size: inherit;
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
}

.sublistAdd {
    color: #ffffff;
    font-size: inherit;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.sublistShowButton {
    background-color: #69e267;
    color: #242b2e;
    font-size: 0.6rem;
    font-weight: bold;
}
