.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 100%;
}

.platformImage {
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 100%;
    height: auto;
    max-width: 700px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.img {
    width: 100%;
    height: auto;
    max-width: 380px;
}

.button {
    background-color: #69e267;
    color: #242b2e;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
